<div class="row">
  <div class="col-lg-12 col-md-12">
    <h1>Editing line</h1>
  </div>
</div>

<%= render 'form' %>

<div class="row">
  <div class="col-lg-12 col-md-12">
		<%= link_to 'Show', @bus_line %> |
		<%= link_to 'Back', bus_lines_path %>
  </div>
</div>